@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700&display=swap");

* {
  scrollbar-width: 8px;
  scrollbar-color: #333b41 #d6d6d6;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 0px none #fff;
  background-color: #49555e;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #333b41;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__start {
  padding-top: 80px;
}

[class*=__container] {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333b41;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  block-size: auto;
  max-inline-size: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-weight: 400;
  font-style: normal;
  min-width: 320px;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

.header {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  z-index: 20;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  min-height: 60px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
}

@supports ((-moz-column-gap: clamp( 1.4285714286rem , 0.4126984127rem  +  4.4444444444vw , 4.2857142857rem )) or (column-gap: clamp( 1.4285714286rem , 0.4126984127rem  +  4.4444444444vw , 4.2857142857rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.4285714286rem , 0.4126984127rem  +  4.4444444444vw , 4.2857142857rem );
       -moz-column-gap: clamp( 1.4285714286rem , 0.4126984127rem  +  4.4444444444vw , 4.2857142857rem );
            column-gap: clamp( 1.4285714286rem , 0.4126984127rem  +  4.4444444444vw , 4.2857142857rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.4285714286rem , 0.4126984127rem  +  4.4444444444vw , 4.2857142857rem )) or (column-gap: clamp( 1.4285714286rem , 0.4126984127rem  +  4.4444444444vw , 4.2857142857rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.4285714286rem + 2.5 * (100vw - 22.8571428571rem) / 56.25);
       -moz-column-gap: calc(1.4285714286rem + 2.5 * (100vw - 22.8571428571rem) / 56.25);
            column-gap: calc(1.4285714286rem + 2.5 * (100vw - 22.8571428571rem) / 56.25);
  }
}

.menu__item {
  text-align: center;
}

.menu__link {
  color: #ffffff;
  font-size: 1.1428571429rem;
  font-weight: 500;
  line-height: 1.2173913043;
}

.menu__logo {
  font-size: 19.0145px;
  line-height: 22.82px;
  margin-right: 4px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  width: 82px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0;
}

.menu__logo::before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 9px;
  width: 12px;
  height: 20.98px;
  -webkit-mask-image: url(../images/icons/bamboo.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  background-color: #ffffff;
}

.menu__logo_visibility {
  display: none;
}

.menu__link_active {
  color: #fe9013;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-burger {
  display: none;
}

.footer {
  padding: 20px 0;
  background: #333b41;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  width: 298px;
  height: 54px;
  background: -o-linear-gradient(336.04deg, #f9804b 1.49%, #fe9013 101.44%);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  font-weight: 500;
  line-height: 1.4;
  padding: 16px 0;
  text-transform: uppercase;
  color: #ffffff;
  border: unset;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.no-webp .animal{
  background-image: url(../../images/animal/bg.jpg); }

.no-webp .animal{
  background-image: -webkit-image-set(url(../../images/animal/bg.webp) type("image/webp"), url(../../images/animal/bg.jpg) type("image/jpeg")); }

.no-webp .animal{
  background-image: -webkit-image-set(url(../../images/animal/bg.webp) type("image/webp"), url(../../images/animal/bg.jpg) type("image/jpeg"));
  background-image: image-set(url(../../images/animal/bg.webp) type("image/webp"), url(../../images/animal/bg.jpg) type("image/jpeg")); }

.animal {
  background-color: #283035;
  padding-top: 80px;
  margin-top: -80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (padding-bottom: clamp( 0.7142857143rem , -1.5714285714rem  +  10vw , 7.1428571429rem )) {
  .animal__container {
    padding-bottom: clamp( 0.7142857143rem , -1.5714285714rem  +  10vw , 7.1428571429rem );
  }
}

@supports not (padding-bottom: clamp( 0.7142857143rem , -1.5714285714rem  +  10vw , 7.1428571429rem )) {
  .animal__container {
    padding-bottom: calc(0.7142857143rem + 5.625 * (100vw - 22.8571428571rem) / 56.25);
  }
}

.animal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(40.2px, 3.75vw, 60px);
  margin-left: auto;
  margin-right: clamp(5px, 2vw, 10px);
  padding-top: clamp(42.8px, 5.375vw, 86px);
  overflow-y: clip;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
}

.animal__title {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  font-weight: 700;
  font-size: clamp(85.2px, 6.66vw, 106.5px);
  line-height: 0.75;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.animal__title span {
  color: rgb(255, 238, 46);
}

.animal__title ::before {
  content: "";
  position: absolute;
  display: block;
  height: clamp(367px, 29.1vw, 465px);
  width: clamp(367px, 29.1vw, 465px);
  border-radius: 50%;
  bottom: 7px;
  left: -80px;
  z-index: -1;
  background: -o-linear-gradient(336.04deg, #f9804b 1.49%, #fe9013 101.44%);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.animal__btn {
  border-radius: 25px;
}

.no-webp .backstage{
  background: url(../../images/backstage/flower-1600.png) no-repeat calc(100% + 1px) 12px; }

.backstage {
  padding-bottom: 90px;
  padding-top: clamp(100px, 8.75vw, 140px);
}

.backstage__container {
  margin-bottom: clamp(140px, 11.25vw, 180px);
}

.backstage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(30px, 5vw, 80px);
}

.backstage__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 clamp(50%, 57vw, 57%);
          flex: 1 1 clamp(50%, 57vw, 57%);
}

.backstage__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43%;
          flex: 1 1 43%;
}

.backstage__title {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 20px;
}

.backstage__text {
  font-size: 16px;
  line-height: 22px;
  margin-right: 1px;
}

.backstage__text:not(:last-child) {
  margin-bottom: 54px;
}

.backstage__subtitle {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 32px;
}

@media (max-width: 1430px) {
  .backstage {
    background: none;
  }
}

@media (max-width: 510.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 76.25em) {
  [class*=__container] {
    max-width: 85rem;
    padding: 0 30px;
  }
}

@media (max-width: 63.0625em) {
  [class*=__container] {
    max-width: 71.4285714286rem;
    padding: 0 30px;
  }

  .animal__container {
    padding-bottom: 50px;
  }

  .animal__content {
    gap: clamp(20px, 4vw, 40.2px);
    margin-right: clamp(30px, 6.5vw, 64px);
    padding-top: clamp(20px, 4.2vw, 44.2px);
  }

  .animal__title {
    font-size: clamp(54px, 8.5vw, 85px);
    line-height: clamp(41px, 6.4vw, 64px);
  }

  .animal__title ::before {
    left: -63px;
    height: clamp(237px, 36vw, 367px);
    width: clamp(237px, 36vw, 367px);
  }

  .backstage {
    padding-top: clamp(60px, 10vw, 100px);
    background: none;
  }

  .backstage__container {
    margin-bottom: clamp(80px, 14vw, 140px);
  }

  .backstage__content {
    gap: clamp(31px, 3.1vw, 80px);
  }

  .backstage__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-top: 8px;
  }

  .backstage__description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .backstage__title {
    margin-bottom: 18px;
    font-size: clamp(29px, 4.8vw, 48px);
  }

  .backstage__text:not(:last-child) {
    margin-bottom: clamp(30px, 5.4vw, 54px);
  }
}

@media (max-width: 40.5625em) {
  [class*=__container] {
    max-width: 45.7142857143rem;
    padding: 0 20px;
  }

  .header {
    padding: 5px 0 1px;
  }

  .header__container {
    min-height: 24px;
  }

  .menu__logo {
    border: none;
    font-size: 12.29px;
    width: 47px;
    height: 29px;
    line-height: 15px;
  }

  .menu__logo::before {
    bottom: 3px;
    left: 4px;
    height: 13.56px;
    width: 7px;
  }

  .burger-wrapper {
    width: 30px;
    height: 30px;
  }

  .header-burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 2px;
    width: 18px;
    height: 10px;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    outline: 0;
    z-index: 10;
    margin: 10px;
  }

  .header-burger span {
    position: absolute;
    left: 50%;
    width: 18px;
    height: 2px;
    background-color: #fff;
  }

  .header-burger span:nth-child(1) {
    top: 0;
    -webkit-transform: translateX(-50%) translateY(0);
        -ms-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
    -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    -o-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  }

  .header-burger span:nth-child(2) {
    top: 4px;
    opacity: 1;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header-burger span:last-child {
    top: 8px;
    -webkit-transform: translateX(-50%) translateY(0);
        -ms-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
    -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    -o-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  }

  .header-burger.open span {
    background-color: #000;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .header-burger.open span:nth-child(1) {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(0) rotate(45deg);
        -ms-transform: translateX(-50%) translateY(0) rotate(45deg);
            transform: translateX(-50%) translateY(0) rotate(45deg);
    -webkit-transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    -o-transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s, -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
  }

  .header-burger.open span:nth-child(2) {
    opacity: 0;
  }

  .header-burger.open span:last-child {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(0) rotate(-45deg);
        -ms-transform: translateX(-50%) translateY(0) rotate(-45deg);
            transform: translateX(-50%) translateY(0) rotate(-45deg);
    -webkit-transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    -o-transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
    transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s, -webkit-transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
  }

  .menu__logo_visibility {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__logo_visibility::before {
    background-image: url(../images/icons/bamboo.svg);
  }

  .menu__logo_colored {
    border: 1px solid #fe9013;
  }

  .menu__logo_colored .logo {
    color: #fe9013;
  }

  .menu__logo_colored::before {
    -webkit-mask-image: url(../images/icons/bamboo.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: #fe9013;
  }

  .header__menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    height: 100%;
  }

  .header__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 15px;
    padding: 10px;
    background-color: #fff;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .header__menu .menu__item {
    padding: 0;
  }

  .header__menu .menu__link {
    position: relative;
    text-decoration: none;
    color: #000;
  }

  .header__menu.open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
    transition: background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s;
    transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s;
    transition: transform 0.5s ease-in-out, background-color 2s ease-in-out 0.5s, -webkit-transform 0.5s ease-in-out;
  }

  .animal {
    padding-top: 34px;
    margin-top: -34px;
  }

  .animal__container {
    padding-bottom: 40px;
  }

  .animal__content {
    max-width: none;
    gap: 0;
    margin-right: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: clamp(20px, 8vw, 48px);
  }

  .animal__title {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: clamp(28px, 8.43vw, 54px);
    line-height: clamp(21px, 6.4vw, 41px);
  }

  .animal__title ::before {
    left: -43px;
    height: clamp(119px, 37vw, 237px);
    width: clamp(119px, 37vw, 237px);
  }

  .animal__btn {
    margin-top: -9px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: clamp(100px, 46.5vw, 298px);
  }

  .no-webp .backstage{
    background: url(../../images/backstage/flower-640.png) no-repeat right -7px; }

  .backstage {
    padding-top: 60px;
  }

  .backstage__container {
    margin-bottom: clamp(40px, 12.5vw, 80px);
    margin-left: 0;
  }

  .backstage__description {
    max-width: 495px;
  }

  .backstage__image {
    display: none;
  }

  .backstage__title {
    padding-left: 3px;
    margin-bottom: 20px;
    font-size: clamp(29px, 7.5vw, 48px);
    line-height: clamp(38px, 9vw, 58px);
  }

  .backstage__subtitle {
    padding-left: 3px;
    margin-bottom: 20px;
  }

  .backstage__text:not(:last-child) {
    margin-bottom: clamp(20px, 4.5vw, 30px);
  }
}

@media (max-width: 40.5625em) and (max-width: 590px) {
  .no-webp .backstage{
    background: url(../../images/backstage/flower-320.png) no-repeat right -7px; }
}

@media (max-width: 20.5625em) {
  [class*=__container] {
    max-width: 22.8571428571rem;
    padding: 0 10px;
  }

  .header-burger {
    right: 0;
    top: 3px;
  }

  .animal {
    max-height: 221px;
    padding-top: 0;
    margin-top: 0;
    position: relative;
  }

  .animal__content {
    padding-top: 40px;
    margin-right: 1px;
  }

  .animal__title {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: clamp(28px, 8.75vw, 54px);
    line-height: clamp(21px, 6.5vw, 41px);
  }

  .animal__title ::before {
    left: -19px;
    bottom: 5px;
    height: clamp(119px, 37vw, 237px);
    width: clamp(119px, 37vw, 237px);
  }

  .animal__btn {
    position: absolute;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    bottom: -75px;
    width: 298px;
  }

  .no-webp .backstage{
    background: url(../../images/backstage/flower-320.png) no-repeat right 38px; }

  .backstage {
    padding-top: 105px;
  }

  .backstage__title {
    font-size: clamp(24px, 7.5vw, 48px);
    line-height: clamp(29px, 9vw, 58px);
    margin-bottom: clamp(10px, 3vw, 22px);
    padding-left: 0;
  }

  .backstage__text {
    line-height: 22px;
  }

  .backstage__subtitle {
    margin-bottom: 10px;
    padding-left: 2px;
  }

  .backstage__text:not(:last-child) {
    line-height: 21px;
    padding-left: 2px;
    margin-bottom: clamp(20px, 6.25vw, 30px);
  }
}

.webp .animal{ background-image: url(../../images/animal/bg.webp); }

.webp .animal{ background-image: -webkit-image-set(url(../../images/animal/bg.webp) type("image/webp"), url(../../images/animal/bg.webp) type("image/jpeg")); }

.webp .animal{ background-image: -webkit-image-set(url(../../images/animal/bg.webp) type("image/webp"), url(../../images/animal/bg.webp) type("image/jpeg")); background-image: image-set(url(../../images/animal/bg.webp) type("image/webp"), url(../../images/animal/bg.webp) type("image/jpeg")); }

.webp .backstage{ background: url(../../images/backstage/flower-1600.webp) no-repeat calc(100% + 1px) 12px; }

@media (max-width: 40.5625em){

  .webp .backstage{ background: url(../../images/backstage/flower-640.webp) no-repeat right -7px; }
}

@media (max-width: 40.5625em) and (max-width: 590px){

  .webp .backstage{ background: url(../../images/backstage/flower-320.webp) no-repeat right -7px; }
}

@media (max-width: 20.5625em){

  .webp .backstage{ background: url(../../images/backstage/flower-320.webp) no-repeat right 38px; }
}