.logo {
  text-align: center;
  font-weight: 400;
  color: $whiteColor;
  font-size: 19.0145px;
  line-height: 22.82px;
  border: 1.5px solid #ffffff;
  border-radius: 2px;
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 0 2px;
  transition: all 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 9px;
    width: 12px;
    height: 20.98px;
    -webkit-mask-image: url(../images/icons/bamboo.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    background-color: $whiteColor;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    border: 1.5px solid #e47209;
    background: #f9804b;
  }

  &:active {
    border: 1.5px solid #4b9200;
    background: #4b9200;
  }
  @media (max-width: $mobile) {
    &:hover {
      border: none;
      background: none;
      color: #e47209;
      &::before {
        background-color: #e47209;
      }
    }

    &:active {
      color: #4b9200;
      border: none;
      background: none;
      &::before {
        background-color: #4b9200;
      }
    }
  }
  @media (max-width: $mobileSmall) {
    padding: 0;
  }
}

.header {
  background-color: #000000;
  color: #fff;
  padding: 11px 0 9px;
  z-index: 20;
  &__container {
    display: flex;
    align-items: center;
    min-height: $headerHeight - 20px;
  }
  &__menu {
    flex: 1 1 auto;
  }

  @media (max-width: $tablet) {
    padding: 11px 0;

    background-color: #111115;
  }
  @media (max-width: $mobile) {
    padding: 5px 0 1px;

    &__container {
      min-height: 24px;
    }
    &__logo {
      border: none;
      font-size: 12.29px;
      width: 47px;
      height: 29px;
      line-height: 15px;
      &::before {
        bottom: 3px;
        left: 4px;
        height: 13.56px;
        width: 7px;
        background-color: white;
      }
    }
  }
  @media (max-width: $mobileSmall) {
    padding: 3px 0 1px;
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 5px;
    column-gap: 58px;
  }

  &__item {
    text-align: center;
  }
  &__link {
    color: $whiteColor;
    font-size: rem(16);
    font-weight: 500;
    line-height: math.div(22.4, 18.4);
    &_visibility {
      display: none;
    }
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #e47209;
    }
    &:active {
      color: #4b9200;
    }
    &:disabled {
      color: #767474;
    }
  }

  &__logo {
    margin-right: 5px;

    &_visibility {
      display: none;
    }
  }

  &__link_active {
    color: $orangeColor;
    pointer-events: none;
    cursor: default;
  }
  &__blur {
    display: none;
  }
  @media (max-width: $tablet) {
    &__logo {
      margin-right: 14px;
    }
    &__list {
      column-gap: 48px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Burger

.header-burger {
  display: none;
}

@media (max-width: $mobile) {
  .burger-wrapper {
    width: 30px;
    height: 30px;
  }
  .header-burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 2px;
    width: 18px;
    height: 10px;
    background: none;
    box-shadow: none;
    border: none;
    outline: 0;
    z-index: 10;
    margin: 10px;

    span {
      position: absolute;
      left: 50%;
      width: 18px;
      height: 2px;
      background-color: #fff;
      &:nth-child(1) {
        top: 0;
        transform: translateX(-50%) translateY(0);
        transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
          transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
      }
      &:nth-child(2) {
        top: 4px;
        opacity: 1;
        transform: translateX(-50%);
      }
      &:last-child {
        top: 8px;
        transform: translateX(-50%) translateY(0);
        transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
          transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
      }
    }
    &.open {
      span {
        background-color: #000;
        transition: all 0.5s ease-out;

        &:nth-child(1) {
          top: 50%;
          transform: translateX(-50%) translateY(0) rotate(45deg);
          transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
            transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          top: 50%;
          transform: translateX(-50%) translateY(0) rotate(-45deg);
          transition: bottom 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
            transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
        }
      }
    }
  }
  .menu {
    &__logo_visibility {
      display: flex;

      &::before {
        background-image: url(../images/icons/bamboo.svg);
      }
    }
    &__link_none-visibility {
      display: none;
    }
    &__link_visibility {
      display: block;
    }
    &__blur {
      display: block;
      transform: translateY(-100%);
      width: 100%;
      height: 100%;
      background-color: transparent;
    }

    &__logo_colored {
      .logo {
        color: $orangeColor;
        &::before {
          background-color: $orangeColor;
        }
        &:hover {
          border: none;
          background: $orangeColor;
          color: white;
          &::before {
            background-color: white;
          }
        }
      }
      border: 1px solid $orangeColor;
      &::before {
        -webkit-mask-image: url(../images/icons/bamboo.svg);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        background-color: $orangeColor;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 15px;
      padding: 10px;
      background-color: #fff;
      height: max-content;
    }

    &__item {
      padding: 0;
    }

    &__link {
      position: relative;
      text-decoration: none;
      color: #000;
    }
    &__link_active {
      color: $orangeColor;
      pointer-events: none;
      cursor: default;
    }
  }
  .header__menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    height: 100%;

    &.open {
      transform: translateY(0);

      background-color: rgba(0, 0, 0, 0.3);
      transition: transform 0.5s ease-in-out,
        background-color 2s ease-in-out 0.5s;
      .menu__blur {
        transform: translateY(0);
        background-color: rgba(0, 0, 0, 0.3);
        transition: transform 0.5s ease-in-out,
          background-color 2s ease-in-out 0.5s;
      }
    }
  }
}

@media (max-width: $mobileSmall) {
  .header-burger {
    right: 0;
    top: 3px;
  }
}
