.btn {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    font-weight: 500;
    line-height: 1.4;
    padding: 16px 0;
    text-transform: uppercase;
    color: #ffffff;
    border: unset;
    z-index: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.section-animal {
    background-color: #283035;
    background-image: url(../../images/animal/bg.jpg);
    background-image: -webkit-image-set(
        url(../../images/animal/bg.webp) type("image/webp"),
        url(../../images/animal/bg.jpg) type("image/jpeg")
    );
    background-image: image-set(
        url(../../images/animal/bg.webp) type("image/webp"),
        url(../../images/animal/bg.jpg) type("image/jpeg")
    );
    padding-top: 80px;
    margin-top: -80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        @include adaptiveValue("padding-bottom", 100, 10);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(40.2px, 3.75vw, 60px);
        margin-left: auto;
        margin-right: clamp(5px, 2vw, 10px);
        padding-top: clamp(42.8px, 5.375vw, 86px);
        overflow-y: clip;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        -ms-flex-align: center;
        -ms-flex-direction: column;
        max-width: -webkit-min-content;
        max-width: -moz-min-content;
    }

    &__title {
        max-width: min-content;
        font-weight: 700;
        font-size: clamp(85.2px, 6.66vw, 106.5px);
        line-height: 0.75;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        position: relative;
        z-index: 1;

        span {
            color: rgba(255, 238, 46, 1);
        }
        ::before {
            content: "";
            position: absolute;
            display: block;
            height: clamp(367px, 29.1vw, 465px);
            width: clamp(367px, 29.1vw, 465px);
            border-radius: 50%;
            bottom: 7px;
            left: -80px;
            z-index: -1;
            background: linear-gradient(
                113.96deg,
                #f9804b 1.49%,
                #fe9013 101.44%
            );
        }
    }

    &__btn {
        border-radius: 25px;
    }

    @media (max-width: $tablet) {
        &__container {
            padding-bottom: 50px;
        }
        &__content {
            gap: clamp(20px, 4vw, 40.2px);
            margin-right: clamp(30px, 6.5vw, 64px);
            padding-top: clamp(20px, 4.2vw, 44.2px);
        }
        &__title {
            font-size: clamp(54px, 8.5vw, 85px);
            line-height: clamp(41px, 6.4vw, 64px);
            ::before {
                left: -63px;
                height: clamp(237px, 36vw, 367px);
                width: clamp(237px, 36vw, 367px);
            }
        }
    }
    @media (max-width: $mobile) {
        padding-top: 34px;
        margin-top: -34px;
        &__container {
            padding-bottom: 40px;
        }
        &__content {
            max-width: none;
            gap: 0;
            margin-right: 2px;
            display: flex;
            padding-top: clamp(20px, 8vw, 48px);
        }
        &__title {
            align-self: flex-end;
            font-size: clamp(28px, 8.43vw, 54px);
            line-height: clamp(21px, 6.4vw, 41px);
            ::before {
                left: -43px;
                height: clamp(119px, 37vw, 237px);
                width: clamp(119px, 37vw, 237px);
            }
        }
        &__btn {
            margin-top: -9px;
            align-self: flex-start;
            width: clamp(100px, 46.5vw, 298px);
        }
    }
    @media (max-width: $mobileSmall) {
        max-height: 221px;
        padding-top: 0;
        margin-top: 0;
        position: relative;

        &__container {
            margin-bottom: 110px;
        }
        &__content {
            padding-top: 40px;
            margin-right: 1px;
        }
        &__title {
            align-self: flex-end;
            font-size: clamp(28px, 8.75vw, 54px);
            line-height: clamp(21px, 6.5vw, 41px);
            ::before {
                left: -19px;
                bottom: 5px;
                height: clamp(119px, 37vw, 237px);
                width: clamp(119px, 37vw, 237px);
            }
        }
        &__btn {
            position: absolute;
            align-self: center;
            bottom: -75px;
            width: 298px;
        }
    }
}
